<template>
    <div id="ContactUs">
        <div>
            <h2>{{ title }}</h2>
            <div>
                <form method="post">
                    <div class="form-group">
                        <label>{{ nameLabel }}</label>
                        <input id="formName" type="text" :placeholder="'Enter ' + nameLabel" value="" />
                    </div>
                    <div class="form-group">
                        <label>{{ emailLabel }}</label>
                        <input id="formEmail" type="text" :placeholder="'Enter ' + emailLabel" value="" />
                    </div>
                    <div class="form-group">
                        <label>{{ messageLabel }}</label>
                        <textarea id="formMessage"></textarea>
                    </div>
                    <div class="form-group">
                        <input id="formSubmit" type="submit" :value="submitValue" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: 'ContactUs',
    data() {
        return {
            title: 'Contact us',
            messageLabel: 'Message',
            emailLabel: 'Email',
            nameLabel: 'Name',
            submitValue: 'Submit',
        };
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#ContactUs {
    padding-top: 25px;
    margin: auto;
    width: 1160px;
}

#ContactUs h2 {
    font-weight: 500;
    font-size: 20px;
    color: #bcbcbc;
}

#ContactUs form {
    width: 50%;
}
.form-group {
    display: block;
    position: relative;
    padding-bottom: 25px;
}
.form-group label {
    display: block;
    padding-bottom: 5px;
}
.form-group input {
    display: block;
    padding-bottom: 5px;
}
.form-group textarea {
    display: block;
    padding-bottom: 5px;
}
.form-group #formSubmit {
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    background-color: rgba(9, 78, 128, 0.8);
    font-size: 16px;
    color: #fff;
}
</style>
