<template>
    <div>
        <div id="Gallery">
            <h2>{{ title }}</h2>
            <div v-for="image in images">
                <div class="image-container">

                </div>
            </div>
            <div>
                <div>
                    <p>{{ error }}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
export default {
    name: 'Gallery',
    data() {
        return {
            title: 'Gallery',
            error: '',
            images: [],
        };
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#Gallery {
    padding-top: 25px;
    margin: auto;
    width: 1160px;
}
</style>
