<template>
    <div id="ServicesTabs">
        <div class="tabs-container">
            <div></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Tabs',
    data() {
        return {
            tabsList: [],
        };
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#ServicesTabs {
    
}
</style>
