<template>
    <div>
        <div id="Timetable">
            <h2>{{ title }}</h2>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
export default {
    name: 'Gallery',
    data() {
        return {
            title: 'Class Timetable',
            error: '',
            timetable: {},
        };
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#Timetable {
    padding-top: 25px;
    margin: auto;
    width: 1160px;
}
</style>
