<template>
    <div id="TopBar" :class="'isTransparent'">
        <div>
            <img src="../assets/img/dance_logo.jpg" alt="Mayur Indian Dance Academy Logo" class="logo"/>
            <div class="menu" role="navigation">
                <ul>
                    <li><a href="#about-us">About us</a></li>
                    <li>Services
                        <ul>
                            <li><a href="#classes">Classes</a></li>
                            <li><a href="#corporate-events">Corporate events</a></li>
                            <li><a href="#weddings">Weddings &amp; Special events</a></li>
                            <li><a href="#choreography">Choreography</a></li>
                        </ul>
                    </li>
                    <li><a href="#videos">Videos</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#classes">Class timetable</a></li>
                    <li><a href="#contact">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TopBar',
    props: [],
    data: () => ({
        tagline: 'Welcome to Bollywood Videos',
        searchText: 'Search videos',
        msg: 'Welcome to Bollywood Videos',
        componentHeight: 0,
    }),
    mounted() {
        this.componentHeight = this.$el.clientHeight; // Sets the height of a component.
    },
    computed: {
        isTransparent: () => '',
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.transparent {
    background-color: transparent;
}

.logo {
    height: 55px;
    float: left;
}
.active {
    color: #02754E;
}

#TopBar {
    background-color: #094F80;
    height: 55px;
    position: fixed;
    width: 100%;
}

#TopBar .menu {
    float: right;
}

#TopBar .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 55px;
}

#TopBar .menu ul li {
    float: left;
    position: relative;
    width: 150px;
    height: 55px;
    display: block;
    color: #fff;
    padding: 0px 0px 0px 15px;
    cursor: pointer;
    line-height: 55px;
}

#TopBar .menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#TopBar .menu ul li a:hover,
#TopBar .menu ul li:hover {
    color: #02754E;
}

#TopBar .menu ul li ul {
    display: none;
    position: absolute;
    top: 55px;
    left: -1px;
    height: auto;
    width: auto;
    background-color: #fcfcfc;
}

#TopBar .menu ul li:hover ul {
    display: block;
    width: 250px;
    background-color: #fcfcfc;
}

#TopBar .menu li ul li:hover {
    width: 250px;
    background-color: #02754E;
}

#TopBar .menu li ul li a,
#TopBar .menu li ul li a:link,
#TopBar .menu li ul li a:visited {
    text-decoration: none;
    color: #000;
    display: block;
    width: 300px;
}

#TopBar .menu li ul li a:hover,
#TopBar .menu li ul li a:active {
    width: 250px;
    color:#fff;
}

#TopBar .menu .top-bar-right {
    float: right;
}
</style>
