<template>
    <div>
        <div id="YouTube">
            <h2>{{ title }}</h2>
            <div v-for="video in videos" :key="video.id.videoId">
                <div class="video-container">
                    <div class="video-title">{{ video.snippet.title }}</div>
                    <div>
                        <a :href="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">
                        <img class="centre-image" :src="video.snippet.thumbnails.default.url" :alt="video.snippet.title" >
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>{{ error }}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Videos',
    data() {
        async function retrieveVideos() {
            let videosByChannelResponse;
            try {
                videosByChannelResponse = await axios.get('https://www.googleapis.com/youtube/v3/search?channelId=UC5Q4RtDa8H8QqZfGLdE5jgg&key=AIzaSyDjSgghfpEPbH7sw9oT212YYn7HuEP7w5I&part=snippet,id');
            } catch (e) {
                videosByChannelResponse = await e;
            }

            return videosByChannelResponse.data;
        }

        retrieveVideos().then((data) => {
            if (data && data.items) {
                this.videos = data.items;
            } else {
                this.error = 'Oh nose, something has gone wrong. Refresh the page or try again...';
            }
        });

        return {
            title: 'Videos',
            error: '',
            videos: [],
        };
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#YouTube {
    padding-top: 25px;
    margin: auto;
    width: 1160px;
}

#YouTube .video-container {
    border: 1px solid #cdcdcd;
    margin: 5px 5px 0px 0px;
    padding: 5px;
    width: 30%;
    height: 150px;
    float: left;
}

#YouTube .video-title {
    font-size: 16px;
    text-align: center;
}

#YouTube .centre-image {
    display: block;
    margin: auto;
}
</style>
