<template>
  <div id="app">
    <TopBar></TopBar>
    <About></About>
    <Services></Services>
    <Videos></Videos>
    <Gallery></Gallery>
    <Timetable></Timetable>
    <ContactUs></ContactUs>
  </div>
</template>

<script>
import TopBar from './components/TopBar';
import About from './components/About';
import Services from './components/Services';
import Videos from './components/Videos';
import Gallery from './components/Gallery';
import Timetable from './components/Timetable';
import ContactUs from './components/ContactUs';

export default {
    name: 'app',
    components: {
        TopBar,
        About,
        Services,
        Videos,
        Gallery,
        Timetable,
        ContactUs,
    },
    data() {
        return {
            appContent: {},
        };
    },
};
</script>

<style>
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
h2 {
    font-weight: 500;
    font-size: 20px;
    color: #bcbcbc;
}
.clearfix {
    clear: both;
}
</style>
